h1 {
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
  margin-left: 195px;
  padding-top: 75px;
  width: 285px;
  height: 45px;
  margin: 0 190px;
}
