ul {
  display: flex;
  align-items: center;
  width: 1400px;
  height: 95px;
  background-color: #ffffff;
  padding-left: 0;
}

ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  /* width: 59px; */
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;

  margin-left: 195px;
  margin: 0 20px;
}

ul li:first-child {
  width: 240px;
  height: 37px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
  margin-left: 145px;
}

.user {
  color: #0290ff;
  padding: 20px;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  margin-left: auto;
}
