.BooksForm {
  text-align: center;
}
form {
  display: inline-block;
  text-align: center;
}
.title {
  width: 174px;
  height: 24px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888888;
}

.addBookInput,
.selectCategory {
  width: 664px;
  height: 45px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: #c4c4c4;
  padding-left: 10px;
}

.selectCategory {
  width: 285px;
  height: 45px;
  margin: 0 25px;
}

.addBookButton {
  font-family: "Roboto Slab";
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  width: 184px;
  height: 45px;
  border-radius: 3px;
  background-color: #0290ff;
  border-color: #0290ff;
}
