body {
  width: 100%;
  height: 800px;
  background-color: #f5f6fa;
  /* margin: 0 auto; */
}

table {
  width: 100%;
  /* margin: 0 30px; */
}

tr.Book {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px;
}

.Book td {
  padding-left: 20px;
}
